{% extends "base.html" %}


{% block content %}

    <section class="ml-4 mr-4">
        <div class="hero-body has-text-centered">
            <p class="is-size-1 has-text-weight-bold">FightStats👊🏼</p>
            <p class="subtitle has-text-weight-semibold has-text-primary is-size-3"> <span class="has-background-primary-light">Unlock a database with extensive data on 1,000+ mixed-martial artists</span></p>
        </div>
    </section>

    <div class="columns">
        <div class="column">
            <section class="has-text-centered">
                <p class="title has-text-weight-bold has-text-primary">Free Sample 👀</p>
                <iframe class="airtable-embed" src="https://airtable.com/embed/shrt7jxbK63jNlPsc?backgroundColor=cyan&viewControls=on" frameborder="0" onmousewheel="" width="75%" height="433" style="background: transparent; border: 1px solid #ccc;"></iframe>
            </section>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <section class="ml-4 mr-4">
                <div class="hero-body has-text-centered">
                    <form action="" class="box">
                        <p class="title has-text-weight-bold">Lifetime access just <span class="has-text-weight-semibold is-italic has-background-primary-light">$29</span></p>
                        <p class="subtitle is-size-4 has-text-weight-semibold mt-4">Weekly updates 📆</p>
                        <p class="subtitle is-size-4 has-text-weight-semibold">Lifetime price locked in 🔒</p>
                        <p class="subtitle is-size-4 has-text-weight-semibold">Downloadable CSV/Excel file format (only on desktop 💻)</p>
                        <button class="button is-primary is-medium">Get Access</button>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer mb-2 is-rounded">
        <div class="content has-text-centered">
            <p>
                We take care to ensure the accuracy and timeliness of our data. However on occasion, errors may be present in the data. We will not be held liable for losses resulting from actions made on the data provided.
            </p>
            <p>
                We are not affiliated in any way with any mixed-martial arts orginazation such as the UFC or Bellator.
            </p>
            <p>
                It is your responsibility to independently verify the accuracy of the data before using it
            </p>
        </div>
    </footer>

{% endblock content %}